@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins',sans-serif;
}
body
{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background-image: url("https://images.pexels.com/photos/235986/pexels-photo-235986.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 background-attachment: fixed;
}
.container
{
 position: relative;
 width: 1150px;
 padding: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}
.container .card
{
 position: relative;
 width: 400px;
 height:550px;
 background: #fff;
 margin: auto;
 margin-bottom: 50px;
 margin-top: 50px;
 border-radius: 20px;
 overflow: hidden;
 box-shadow: 0 15px 25px rgba(0,0,0,0.2);
 transition: 0.5s;
}
.container:hover .card
{
 filter: blur(20px);
 transform: scale(0.9);
 opacity: 0.5;
}
.container .card:hover
{
 filter: blur(0px);
 transform: scale(1.1);
 opacity: 1;
}
.container .card .circle
{
position: relative;
width: 100%;
height: 100%;
background: #000;
clip-path: circle(200%);
text-align: center;
}
.container .card .circle h2
{
 color:#fff;
 font-size: 4.5em;
 padding:50px 0;
}
.container .card .content
{
 position: absolute;
 bottom: 10px;
 page-break-after: 20px;
 text-align: center;
}
.container .card .content:hover  p
{
 color: #666;
}
.photos{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s;
  background-color:black;
}
.container .card .content:hover .photos
{
  opacity: 1;
}
.container .card .content .photos .sketch a
{
 position: relative;
 display: inline-block;
 padding: 10px 20px;
 background: #000;
 color: #ffff;
 border-radius: 5px 20px 5px;
 text-decoration: none;
 margin-top: 20px;
}

.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a
{
 background: gray;
}
.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a
{
 background: black;
}
.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .content a
{
 background: black;
}
.container .card:nth-child(4) .circle,
.container .card:nth-child(4) .content a
{
 background: gray;
}